<% provide(:title, "About") %>
<div id="about-page" class="home-container">
  <%= render 'layouts/header'%>
  <%= render 'layouts/side_nav'%>
  <div class="static-content">
    <h1 style="margin-top:0">About</h1>
    <p>Agile: Run for your kingdom was developed as part of a team project for the course CMPT 276 at SFU. </p>
    <button id="more-about" class="waves-effect waves-light btn-large" type="button" name="more-about">More</button>
  </div>
</div>
