<% provide(:title, "About") %>
<div id="help-page" class="home-container">
  <%= render 'layouts/header'%>
  <%= render 'layouts/side_nav'%>
  <div class="static-content">
    <h1 style="margin-top:0;">Help</h1>
    <p>The following button will launch a first-time tour to get you started!</p>
    <a class="tour-help waves-effect waves-light btn-large" href="">
      <i class="material-icons left">ac_unit</i> Begin!
    </a>
  </div>
</div>
